body {
    background-color: #aaaaaa63;
}

.header-part {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.mobile-icon {
    visibility: hidden;
}

.heading-menu-icon {
    margin-right: 30px;
    color: black;

}

.fa-solid.fa-bars {
    color: black;
}

.header-title {

    margin-right: 30px;
    font-size: 30px;
}

.menu {
    margin-right: 80px;

}

.menu-bar {
    display: flex;

}

ul a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

ul li {
    list-style-type: none;
}

.mainpage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

/*.............
 mainpage
 ............. */
.mainpage-title {
    width: 582px;

}

.mainpage-title-heading {
    font-size: 52PX;
}

.book-button {
    text-decoration: none;
    color: white;
    background-color: rgba(224, 44, 109, 1);
    margin-top: 50px;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
}

.mainpage-img {
    background-image: url("media/images/Circle\ design.svg");
    width: 475px;
    height: 475px;
}

.mainpage-img:hover .mainpage-img-format {
    transform: rotate(-360deg);
    transition: transform 1s ease-in-out;
}

.mainpage-img-format {
    width: 440px;
    height: 414px;
}

.break-line {
    width: 1110px;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);

}

.sponsor-part {

    width: 986.47px;
    padding-left: 500px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;


}

/* ............
product-section
............. */
.product-heading {
    text-align: center;
    font-size: 28px;

    margin-top: 100px;
    margin-bottom: 30px;

}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0 310px 0 310px;

}

.product {
    width: 329px;
    height: 476px;


    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 10px;
}

.product-img {
    width: 300px;
    height: 256px;
    margin: 17px 15px 16px 14px;
    border-radius: 5px;
}

.product-title {
    margin: 16px 0px 17px 14px;
}

.product-name {
    font-size: 28px;
    color: #18191F;
    margin-bottom: 6px;

}

.product-price {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px;
}

.product-rating {
    color: goldenrod;
}

.product-detail {
    font-size: 14px;
    color: #787885;
}

.product-option {

    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
    text-align: end;
    justify-content: end;
    margin-top: 50px;
}

/* ...............
middle part 
.................*/
.middle-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.middle-part-img {
    width: 404px;
    border-radius: 7px;
}

.middle-part-details {
    width: 610px;
    margin-left: 96px;
}

.middle-part-details a {
    text-decoration: none;
    color: white;
    background-color: rgba(224, 44, 109, 0.87);
    width: 155px;
    margin-top: 16px;
    padding: 10px 24px 10px 24px;

}

/*.................
 footer area
 ................. */
.footer {
    text-align: center;
    background-color: #18191F;
    color: rgba(255, 255, 255, 1);
}

.footer-title {
    padding-top: 50px;

    font-size: 24px
}

.copy-thred {
    color: #D9DBE1;
}

.footer-icon {
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 30px;

}

/* responsive */
@media (max-width:360px) {

    /* --------------------------------------------------------------------------------heading-part----------------------------------------------------------------------- */
    .menu-bar .menu-icon {
        display: none;
    }

    .mobile-icon {
        visibility: visible;
        margin-left: 16px;
        margin-right: 59px;
        font-size: 24px;
    }

    .header-title h1 {

        font-size: 16px;
        margin-top: 35px;
        margin-bottom: 16px;
    }

    .cart {
        font-size: 30px;
        margin-left: 16px;
        margin-right: 59px;
    }

    /* ----------------------------------------------------------------------------------------------mainpage------------------------------------------------------------------------ */

    .mainpage {
        flex-direction: column;
        width: 404px;
    }

    .mainpage-img {
        width: 100%;
        height: 100%;
        margin: 22px 52px 14px 51px;


    }

    .mainpage-img-format {
        width: 202px;
        height: 175px;
    }

    .mainpage-title {
        width: 404px;

        font-size: 20px;
    }

    hr {
        visibility: hidden;
    }

    .sponsor-part {
        width: 272px;
        height: 62px;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 42px;
        margin-right: 42px;
        padding: 0px;
    }

    .sponsor-logo {
        width: 33px;
        margin-right: 31px;
    }

    /* products part */

    .products {
        grid-template-columns: repeat(1, 1fr);
        margin: 0px;
    }

    /* middle part */

    .middle-part {
        flex-direction: column;

    }

    .middle-part-img {
        width: 299px;
        height: 188px;

    }

    .middle-part-details h1 {
        width: 311px;
        height: 72px;
        font-size: 24px;
        margin-left: 29px;
        margin-right: 20px;
    }

    .middle-part-details a {}

}