section {
    display: flex;
}

.header-part {
    justify-content: space-between;
    align-items: center;
}

.heading-menu-icon {
    margin-right: 30px;
    color: black;

}

.fa-solid.fa-bars {
    color: black;
}

.header-title {
    margin-left: 80px;
}

.menu {
    margin-right: 80px;

}

.menu-bar {
    display: flex;
}

ul a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

ul li {
    list-style-type: none;
}

.mainpage {
    justify-content: center;
    align-items: center;
}

.mainpage-title {
    width: 582px;
    /* height: 270px; */
}

.mainpage-title-heading {
    font-size: 52PX;
}

.book-button {
    text-decoration: none;
    color: white;
    background-color: rgba(224, 44, 109, 1);
    margin-top: 50px;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
}

.mainpage-img {
    background-image: url("media/images/Circle\ design.svg");
    width: 475px;
    height: 475px;
}

.mainpage-img:hover .mainpage-img-format {
    transform: rotate(-360deg);
    transition: transform 1s ease-in-out;
}

.mainpage-img-format {
    width: 440px;
    height: 414px;
}

.break-line {
    width: 1110px;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);

}

.sponsor-part {

    width: 986.47px;
    padding-left: 500px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;


}

/* .mainpage-sponsor {
    text-align: center;
} */





/* .header-part {
    align-items: center;
    justify-content: space-around;

}

.heading-menu-icon {
    margin-right: 30px;

}

.header-title {
    width: 243px;
    height: 36px;
    margin-left: 120px;
    padding: 4px;
}

.menu-bar {
    display: flex;
}

ul {}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    margin-left: 20px;
}

/* responsive style */
/* @media only screen (min-width:688px) {
    ul {
        display: none;
        background-color: black;
    }  */